body {
	background: #333333;
	color: #fafafa;
	margin-top: 5rem;
}



ul {
	margin: 0;
}

.bg-steel {
	background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
	color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}

.content-section-side {
	
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}

.card{
	background-color: #333333;
}

.card:hover {
	background-color: #727272;
	color: #000000;	
}

.card:hover .review-title  {
	background-color: #727272;
	color: #ffffff;	
}

.card:hover .likes{
	color: #ffffff;
}

.stretched-link {
	text-decoration: none !important;
	color: #ffffff;
}

.card:hover .stretched-link {
	text-decoration: none !important;
	color: #ffffff;
}


.text-muted{
	font-size: large ;
	color: #ffffff !important;
}

.card:hover .text-muted{
	color: #ffffff !important;
}

.card:hover .review-metadata{
	border-bottom: 3px solid #ffffff;
}

.review-title {
	color: #ffffff;
}

.review-content {
	white-space: pre-line;
	color: #000000;
}

.review-content-preview {
	white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.review-img {
	height: 65px;
	width: 65px;
	margin-right: 16px;
}

.review-metadata {
	padding-bottom: 1px;
	margin-bottom: 10px;
	border-bottom: 3px solid #131212;
}

.date {
	float: right;
	margin-top: 5px;
}

.review-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.account-heading {
	font-size: 2.5rem;
}

.comment-section {
	margin-left: -15px;
	display: inline;
	color: #000000;
}

.comment-form {
	height: auto;
}

.panel-heading {
	padding: 10px 10px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.comment {
	margin-bottom: 20px;
	margin-left: -15px;
}

.comment-body {
	padding: 15px;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.media-body,
.media-left,
.media-right {
	display: table-cell;
	vertical-align: top;
}

.comments {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.comments-info {
	border-color: #bce8f1;
}

.comment-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.media-list {
	padding-left: 20px;
	list-style: none;
}


/* important to make sure links
are in stack order */
.link-img {
	z-index: 2;
	position: relative;
}


/* for username link on post  */
.mybadge:link  {
	padding: 2px 9px 2px 9px;
	font-size: 20.025px;
	font-weight: bold;
	white-space: nowrap;
	color: #000000;
	background-color: #ffa500;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;	
}

.my-reviews-link  {
	padding: 10px 9px 2px 9px;
	font-size: 15.025px;
	font-weight: bold;
	white-space: nowrap;
	color: green !important;
	background-color: #ffa500;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;	
	
}


// for dark mode toggle
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tg-list {
	text-align: center;
	display: flex;
	align-items: center;
}

.tg-list-item {
    margin-top: 3px;
    margin-left: 10px;
    display: flex;
}

#tg-text {
    margin-top: 5px;    
    margin-right: 1rem;
	color: #ffffff;
}

#cb1{
    margin-left: 5px;
    
}

.tgl {
	display: none;
  
	// add default box-sizing for this scope
	&,
  &:after,
  &:before,
	& *,
  & *:after,
  & *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}
  
	+ .tgl-btn {
		outline: 0;
		display: block;
		width: 4em;
		height: 2em;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after,
    &:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}
    
		&:after {
			left: 0;
		}
    
		&:before {
			display: none;
		}
	}
  
	&:checked + .tgl-btn:after {
		left: 50%;
	}
}

// themes
// themes
.tgl-light {
	+ .tgl-btn {
		background: #ffffff;;
		border-radius: 2em;
		padding: 2px;
		transition: all .4s ease;
		&:after {
			border-radius: 50%;
			background: #ffc0cb;
			transition: all .2s ease;
		}

		&:before {
			border-radius: 50%;
			background: red;
			transition: all .2s ease;
		}
	}
  
	&:checked + .tgl-btn {
		background: #000000;
		border-radius: 2em;
		padding: 2px;
		transition: all .4s ease;
		&:after {
			border-radius: 50%;
			background: orange;
			transition: all .2s ease;
		}

		&:before {
			border-radius: 50%;
			background: red;
			transition: all .2s ease;
		}
	}
}

.profile-form,
.post-form,
.register-form,
.login-form{
	background-color: #333333;
	color: #ffffff;

	& .text-muted{
		color: lighten($color: orange, $amount: 30) !important; // to change bootstrap
	}
}

.profile-section a{
	font-size: large;
	color: rgb(113, 0, 128);
}

.card:hover .fa-thumbs-up{
	color: #ffffff;
}



