{% extends "base.html" %}
{% block title %}
Home
{% endblock title %}
{% block content %}

{% for review in reviews %}

{# double {} used for  variable #}
{# single {} used for most complex logic#}
<div class="card content-section">    
    <div class="review-metadata">
        <a href="{%url 'user-reviews' review.author.username %}" class="link-img">
            <img src="{{review.author.profile.image.url}}" alt="" class="rounded-circle review-img">
        </a>
        <a class="mybadge link-img" href="{%url 'user-reviews' review.author.username %}">{{ review.author }}</a>
        <small class="date text-muted">{{ review.date_posted }}</small>
        <h2 class="review-title">{{ review.title }}</h2>
    </div>  
    <div>     
            <a href="{%url 'review-detail' review.id %}" class="stretched-link">
                <p>
                    {{ review.content|truncatewords:30 }}
                </p>
            </a>                                  
    </div>
</div>
{% endfor %}
{# pagination logic #}
{% if is_paginated %}
    {%  if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4"href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4"href="?page={{page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
        {% elif num > page_obj.number|add:'-3'  and  num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>

        {% endif %}
    {% endfor %}

    {%  if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4"href="?page={{page_obj.next_page_number}}">Next</a>
    <a class="btn btn-outline-info mb-4"href="?page={{page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
{% endblock content %}