{% extends "base.html" %}
{% block title %}
Review Detail
{% endblock title %}
{% block content %}


<article class="media content-section">
    <img src="{{object.author.profile.image.url}}" alt="" class="rounded-circle review-img">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_reviewed }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ object.title }}</a></h2>
        <p class="article-content">{{ object.content }}</p>
        <a class="btn btn-danger" href="{% url 'review-delete' object.id %}">Delete Review</a>
        <a class="btn btn-warning" href="{% url 'review-update' object.id %}">Update Review</a>
    </div>
</article>

{% endblock content %}