{% extends "base.html" %}
{% block title %}
Review Detail
{% endblock title %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="content-section">    
    <div class="review-metadata">
        <a href="{%url 'user-reviews' review.author.username %}" class="link-img">
            <img src="{{review.author.profile.image.url}}" alt="" class="rounded-circle review-img">
        </a>
        <a class="mybadge link-img" href="{%url 'user-reviews' review.author.username %}">{{ review.author }}</a>
        <small class="date text-muted">{{ review.date_posted }}</small>
    </div>  
    <h2>
        <p class="review-title">{{ object.title }}</p>
    </h2>
    <p class="review-content">{{ object.content }}</p>                                  
    
    <div class="media-body">
        {% if object.author == user %}
        <a class="btn btn-danger" href="{% url 'review-delete' object.id %}">Delete Review</a>
        <a class="btn btn-warning" href="{% url 'review-update' object.id %}">Update Review</a>
        {% endif %}
        <form>            
            <div>
                <p>
                    Likes {{review.likes.count}}
                </p>               
                <button type="submit"  id="like" name="{{object.id}}" value="Like" class="btn btn-info pull-left">Like</button>            
            </div>
        </form>
        
    </div>
    
</div>

<div class="container comment-section">
    <div class="comments comments-info">
        <div class="comment-heading">
            Comment Section
        </div>
        <script src="{% static 'reviews/js/script.js' %}"></script>
        {% if messages %}
        <div class="messages" id='messageElement'>
            {% for message in messages %}
            
            <p class="alert alert-{{message.extra_tags}}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <div class="comment-body">
            <div class="comment-form">
                <form method="POST">
                    {% csrf_token %}
                    <textarea class="form-control" name="comment_textarea" placeholder="write a comment..."
                        rows="3"></textarea>
                    <br>
                    <button type="submit"  class="btn btn-info pull-right">Post</button>
                    <div class="clearfix"></div>
                    <hr>
                </form>
            </div>
            <ul class="media-list">

                {% if comments.count > 0 %}

                {% for comment in comments.all %}

                <li class="media">

                    <a href="{%url 'user-reviews' comment.author.username %}" class="pull-left">
                        <img src="{{comment.author.profile.image.url}}" class="pull-left rounded-circle review-img"
                            alt="...">
                    </a>

                    <div class="media-body">
                        <span class="text-muted pull-right">
                            {{comment.timestamp}}
                        </span>
                        <a href="{%url 'user-reviews' comment.author.username %}">
                            <h4 class="badge">{{comment.author}}</h4>
                        </a>
                        <p>{{comment.content}}</p>

                        <hr />
                    </div>
                </li>
                {% endfor %}
                {% endif %}
            </ul>

        </div>
    </div>
</div>
{% endblock content %}

{% block jquery %}

$('#like').click(function(e){
    
    //console.log({{ csrf_token }})
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: "{% url 'review-detail' review.slug %}",
        data: {'like': 'true', csrfmiddlewaretoken: '{{ csrf_token }}'},
        dataType: "json",
        success: function(response) {
            console.log(response)
        },
        error: function(e) {
            console.log('error')
            console.log(e)
        },
        
    });
return false;

});
    

{% endblock jquery %}
