{% extends "base.html" %}
{% block title %}
Review Detail
{% endblock title %}
{% block content %}


<article class="media content-section">
    <img src="{{object.author.profile.image.url}}" alt="" class="rounded-circle review-img">
    <div class="media-body">
        <div class="review-metadata">
            <a class="mr-2" href="{% url 'user-reviews' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_reviewed }}</small>
        </div>
        <h2>
            <p class="review-title">{{ object.title }}</p>
        </h2>
        <p class="review-content">{{ object.content }}</p>


        {% if object.author == user %}
        <a class="btn btn-danger" href="{% url 'review-delete' object.id %}">Delete Review</a>
        <a class="btn btn-warning" href="{% url 'review-update' object.id %}">Update Review</a>
        {% endif %}


    </div>


</article>

<div class="container comment-section">
    <div class="comments comments-info">
        <div class="comment-heading">
            Comment Section
        </div>
        <div class="comment-body">
            <div class="comment-form">
                <textarea class="form-control" placeholder="write a comment..." rows="3"></textarea>
                <br>
                <button type="button" class="btn btn-info pull-right">Post</button>
                <div class="clearfix"></div>
                <hr>
            </div>
            <ul class="media-list">
                
                {% if object.comment_set.count > 0 %}
                
                {% for comment in object.comment_set.all %}
                
                <li class="media">
                    
                    <a href="{%url 'user-reviews' comment.author.username %}" class="pull-left">
                        <img src="{{comment.author.profile.image.url}}" class="pull-left rounded-circle review-img"
                        alt="...">
                    </a>
                    
                    <div class="media-body">
                        <span class="text-muted pull-right">
                            {{comment.timestamp}}
                        </span>
                        <a href="{%url 'user-reviews' comment.author.username %}">
                            <h4 class="text-success">{{comment.author}}</h4>
                        </a>
                        <p>{{comment.content}}</p>
                        
                        <hr />
                    </div>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
            
        </div>
    </div>
</div>

{% endblock content %}