{% extends "base.html" %}
{% block title %}
Reviews
{% endblock title %}
{% block content %}
<h1 class="mb-3">Reviews by {{view.kwargs.username}}</h1>
{% for review in reviews %}
<div class="card content-section">
    <div class="review-metadata">
        <a href="{%url 'user-reviews' review.author.username %}" class="link-img">
            <img src="{{review.author.profile.image.url}}" alt="" class="rounded-circle review-img">
        </a>
        <a class="mybadge link-img" href="{%url 'user-reviews' review.author.username %}">{{ review.author }}</a>
        <small class="date text-muted">{{ review.date_posted }}</small>
        <h2 class="review-title">{{ review.title }}</h2>
    </div>  
    <div>     
            <a href="{%url 'review-detail' review.id %}" class="stretched-link">
                <p>
                    {{ review.content|truncatewords:30 }}
                </p>
            </a>                                  
    </div> 
</div>
{% endfor %}
{% endblock content%}